<h3>Crash Space</h3>
<p>
Attendees who will be traveling from other institutions may request
crash space. We will find places to stay on a first come, first serve
basis. Therefore, if you anticipate needing crash space, please
specify which nights you will be staying over on
the <a href="$url_for('/register')">registration</a> page as early as
is possible. A block of rooms have been reserved at the Quality Inn
for check-in May 7th and checking out May 10th, with the special price
for a single room at $84 and a double room at $89 per night. Please
mention the group name &lsquo;Mayfest&rsquo; when booking. Rooms at these prices
must be booked before April 23, after this the rooms will depend on
availability.
</p>


<h3>Hotels in College Park</h3>
<ul>
<li>
<h4>Quality Inn</h4>
7200 Baltimore Avenue (US Route 1)
<br/>
College Park, MD 20740-3290
<br/>
Phone: (301) 864-5820
</li>
<li>
<h4>Best Western Maryland Inn</h4>
8601 Baltimore Avenue
<br/>
College Park, MD 20740
<br/>
Phone: (301) 474-2800
</li>
<li>
<h4>Comfort Inn</h4>
9020 Baltimore Ave.
<br/>
College Park, MD, 20740
<br/>
Phone: (301) 441-8110
</li>
<li>
<h4>The Inn &amp; Conference Center</h4>
3501 University Blvd. East
<br/>
Adelphi, MD, 20783
<br/>
Phone: (301) 985-7300
</li>
<li>
<h4>Davis Warner Inn</h4>
8114 Carroll Ave.
<br/>
Takoma Park, MD, 20912
<br/>
Phone: (301) 408-3989
</li>
</ul>

<h3>Hotels in DC</h3>
<ul>
<li>
<h4>Aaron Shipman House Bed and Breakfast</h4>
13th and Q. St. NW
<br/>
Washington, DC 20009
<br/>
Phone: (877) 893-3233
</li>
<li>
<h4>Swann House</h4>
1808 New Hampshire Avenue, NW
<br/>
Washington, DC 20009
<br/>
Phone: (202) 265-4414
</li>
<li>
<h4>Hotel Tabard Inn</h4>
1739 N Street NW
<br/>
Washington, DC 20036
<br/>
Phone: (202) 785-1277
</li>
</ul>
