<h3>Crash Space</h3>
<p>
Attendees who will be traveling from other institutions may request
crash space. We will find places to stay on a first come, first serve
basis. Therefore, if you anticipate needing crash space, please
specify which nights you will be staying over on
the <a href="$url_for('/register')">registration</a> page as early as
is possible.
</p>
<p>
A block of rooms have been reserved at the Quality Inn
for check-in May 6th and checking out May 8th, with the special price
for a single room at $89 and a double room at $168 per night. Please
mention the group name &lsquo;Mayfest&rsquo; when booking.
</p>

<h3>Hotels in College Park</h3>
<p>
We recommend the Quality Inn and the Inn &amp; Conference Center.
The former is the more convenient of the two, being within walking distance of both the metro station
and the conference.
The latter is a little fancier, but is some distance from the metro. The other hotels listed are less
convenient and only accessible by car.
</p>

<ul class="hotels">
<li>
<h4>Quality Inn</h4>
<p>
7200 Baltimore Avenue (US Route 1)
<br/>
College Park, MD 20740-3290
<br/>
Phone: (301) 864-5820
</p>
$# Have to give it a distinct attribute to work around a feature (bug) of the Webkit
$# implementation of the '+' CSS selector.
<p lang="en">
(Both College Park Metro and the conference are within walking distance.)
</p>
</li>
<li>
<h4>The Inn &amp; Conference Center</h4>
<p>
3501 University Blvd. East
<br/>
Adelphi, MD, 20783
<br/>
Phone: (301) 985-7300
</p>
<p lang="en">
(On campus; conference is within walking distance.)
</p>
</li>
<li>
<h4>Best Western Maryland Inn</h4>
<p>
8601 Baltimore Avenue
<br/>
College Park, MD 20740
<br/>
Phone: (301) 474-2800
</p>
</li>
<li>
<h4>Comfort Inn</h4>
<p>
9020 Baltimore Ave.
<br/>
College Park, MD, 20740
<br/>
Phone: (301) 441-8110
</p>
</li>
<li>
<h4>Davis Warner Inn</h4>
<p>
8114 Carroll Ave.
<br/>
Takoma Park, MD, 20912
<br/>
Phone: (301) 408-3989
</p>
</li>
</ul>

<h3>Hotels in DC</h3>
<p>
College Park is metro-accessible, so it is quite easy to get to the conference from DC.
The journey takes around 45 minutes if you leave from a metro
station on the green line
(e.g. L'Enfant Plaza, Navy Archives, Gallery Place, Mt Vernon Square, Shaw Howard, U Street).
See <a href="$url_for('/directions#metrotravel')">directions</a> for more information.
</p>

<ul class="hotels">
<li>
<h4>Aaron Shipman House Bed and Breakfast</h4>
<p>
13th and Q. St. NW
<br/>
Washington, DC 20009
<br/>
Phone: (877) 893-3233
</p>
<p>
(Close to U Street Metro.)
</p>
</li>
<li>
<h4>Swann House</h4>
<p lang="en">
1808 New Hampshire Avenue, NW
<br/>
Washington, DC 20009
<br/>
Phone: (202) 265-4414
</p>
<p lang="en">
(6 blocks from U Street Metro.)
</p>
</li>
<li>
<h4>Hotel Tabard Inn</h4>
<p>
1739 N Street NW
<br/>
Washington, DC 20036
<br/>
Phone: (202) 785-1277
</p>
<p lang="en">
(Close to Dupont Circle Metro; transfer from red to green line required.)
</p>
</li>
</ul>
