<h3>How to find Mayfest at the University of Maryland</h3>
<p>
MayFest 2011 is being held in the Maryland Room (room 0100) in Marie Mount Hall
(directions to Marie Mount Hall and the Linguistics Department/CNL
can be found <a href="http://www.ling.umd.edu/cnl/?page=directions">here</a>).
</p>

<h3>Air Travel</h3>
<p>
Guests travelling to College Park by air should fly to either Reagan Washington National Airport (DCA), Baltimore-Washington Internation Airport (BWI), or Washington-Dulles Interational Airport (IAD).
</p>

<ul>
<li>
<h4>Reagan Washington National Airport (DCA)</h4>
<p>
Reagan is located in downtown Washington DC. Frequent flights, mostly
from the eastern US. There is a good Washington DC Metro connection
between DCA and College Park, but flight prices tend to be higher for
this airport. Taxi service to College Park costs approximately
$$40.00. Super Shuttle is also a convenient option. Price $$28 + $$10 per
additional person.
</p>
</li>
<li>
<h4>Baltimore-Washington International Airport (BWI)</h4>
<p>
BWI has mostly
domestic connections, but with a few direct international connections,
e.g. to the UK. It often offers the cheapest flights, since it is a
hub city for the discount carrier Southwest Airlines, which generates
fierce price competition. There is a regular $$3 Metrobus service from
BWI to the Greenbelt Metro Station, which is only one stop away from
College Park. Taxi service to College Park costs approximately
$$55. Super Shuttle is also a convenient option. Price $$28 + $$10 per
additional person.
</p>
</li>
<li>
<h4>Washington-Dulles International Airport (IAD)</h4>
<p>
Dulles is the main
international hub in the region, with direct connections from
throughout the US, Europe and Asia. Ground transportation to College
Park is least easy from Dulles, however. Options are taxi or shuttle
van (International Express Shuttle, Super Shuttle), or bus-and-metro
combination. The Washington Flyer bus regularly connects Dulles to the
West Falls Church stop on the Orange Line of the Washington DC
Metro. Taxi service to College Park costs approximately $$65.00. Super
Shuttle is also a convenient option. Price $$28 + $$10 per additional
person. Another option is to take a cab to the closest metro station
(West Falls Church, Orange Line).
</p>
</li>
</ul>

<h3>Train Travel</h3>
<p>
<a href="http://www.amtrak.com/">Amtrak</a> offers train service to
Wasington-Union Station, DC (WAS), or New Carollton, MD (NCR). From
either station you can then take the Washington DC Metro, or a taxi to
College Park.
</p>

<h3 id="metrotravel">Local Travel Within the DC Metro</h3>
<p>
To reach the University of Maryland, take the Green Line train toward
Greenbelt; get off at
the <a href="http://www.wmata.com/metrorail/Stations/station.cfm?station=79">College
Park/U of MD station</a>. Take the university's Shuttle-UM bus. The
buses pick up university-bound passengers on the EAST side of the
metrorail station &mdash; they run every 8 minutes on the MayFest workshop
days. Get off the bus at its first stop within the campus gates (its
third stop altogether; at the big "M" traffic circle) and walk south
on Regents Drive. Marie Mount Hall will be on your right as you cross
the main university Mall.
</p>

<h3>Parking on Campus</h3>
<p>
On Saturday, parking is unrestricted in most lots on campus (signs make it clear when this is not the case). But, on Friday, those wishing to park on Campus will need to do so in the Stadium Parking Garage. The maps below shows the location of the Stadium Parking Garage (in blue). (The map shows Marie Mount Hall, the home of the linguistics department, in red). Click the map to enlarge.
</p>
<a class="parking" href="$url_for('/static/parking.gif')">[parking map]</a>
