<h3>Welcome to Mayfest 2011</h3>
<p>
Every year the graduate students of the <a href="http://ling.umd.edu">Linguistics Department</a>
of the University of Maryland organize a linguistics workshop focusing on a
different aspect of language. The goal of this year's Mayfest is to bring together
researchers from various disciplines to discuss the ways in which cross-disciplinary
research can move the study of semantics beyond truth conditions.
</p>

<h3>Theme</h3>
<p>
Talks at this year's workshop will center on the interpretation of pronouns.
Pronouns serve as tools of reference, and as markers of semantic and
syntactic dependencies. In either role, their interpretation is guided by
complex constraints, both grammatical and extralinguistic. The talks at this
year's Mayfest, each in a distinct way, will explore these constraints. What
are they, how does their expression develop in the child, and how are they
deployed in real-time processing? Bringing together <a href="$url_for('/speakers')">scholars</a>
from diverse
subfields, we hope to foster discussion of how answers to each of these
questions might inform the others, advancing an integrated perspective.
</p>

<h3>When and Where</h3>
<p>
The workshop will be held May 6-7 on the College Park Campus of the
University of Maryland
in the Maryland Room of Marie Mount Hall. Mayfest 2011
has no registration fee and we welcome all visitors to the workshop; however, for organizational purposes we do ask all guests to
<a href="$url_for('/register')">register</a>.
</p>

<p>
We urge you to book hotel rooms as soon as possible. Note that as
College Park is metro accessible, guests may be able to find suitable
<a href="$url_for('/accommodation')">accommodation</a> in DC. Students are also offering a limited amount of
crash space. Please see our accommodation page for more information.
</p>
