$ FONT_FAMILY = "'Museo Sans', Verdana, Helvetica, Arial, sans-serif"
$ FONT_FAMILY_ITALIC = "'Museo Sans Italic', Verdana, Helvetica, Arial, sans-serif"

$ TOPGAP = "21px"
$ TOPBORD = str(int(TOPGAP[:-2]) + 11) + "px"

$ LIGHT_BACKGROUND = "#FFFFFF"
$ DARKER_BACKGROUND = "#F2EDE8"
$ HEADING_COLOR = "#5C5215"
$ MEDIUM_COLOR = "#30385E"
$ LIGHT_COLOR = "#6E79AE"
$ H_MEDIUM_COLOR = "#10193E"
$ H_LIGHT_COLOR = "#2D3147"
$ BAND_COLOR = "#C4A787"
 
$ LARGE_FONT_SIZE = "16pt"
$ NORMAL_FONT_SIZE = "12pt"
$ SMALL_FONT_SIZE = "10pt"

$ LEFT_INDENT = "50px"
$ LEFT_INDENT_NUDGE = "55px"

$def fromleft_linear_gradient(start, end):
    color: #fff;
    background: $start;
    $# For WebKit (Safari, Google Chrome etc)
    background: -webkit-gradient(linear, left top, right top, from($start), to($end));
    $# For Mozilla/Gecko (Firefox etc)
    background: -moz-linear-gradient(left top, $start, $end, 100%);
    $# For Internet Explorer 5.5 - 7
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$('#FF' + start[1:]), endColorStr=$('#FF' + end[1:]), GradientType=1);
    $# For Internet Explorer 8
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$('#FF' + start[1:]), endColorstr=$('#FF' + end[1:]), GradientType=1)";
$def fromtop_linear_gradient(start, end):
    color: #fff;
    background: $start;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
    background: -moz-linear-gradient(top, $start, $end);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$('#FF' + start[1:]), endColorstr=$('#FF' + end[1:]));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$('#FF' + start[1:]), endColorstr=$('#FF' + end[1:]))";
$def radial_gradient(start, end):
    color: #fff;
    background: $start;
    background: -webkit-gradient(radial, 33% 50%, 0, 33% 50%, 60, from($start), to($end));
    background: -moz-radial-gradient(33% 50%, farthest-side, $start, $end);
    $# Fall back to a linear gradient in IE.
    $# For Internet Explorer 5.5 - 7
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$('#FF' + start[1:]), endColorStr=$('#FF' + end[1:]), GradientType=1);
    $# For Internet Explorer 8
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$('#FF' + start[1:]), endColorstr=$('#FF' + end[1:]), GradientType=1)";

@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans'),
    url('$url_for('/static/MuseoSans_500.otf')') format('opentype');
}
@font-face {
    font-family: 'Museo Sans Italic';
    font-style: italic;
    src: local('Museo Sans Italic'),
    url('$url_for('/static/MuseoSans_500_Italic.otf')') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background: $LIGHT_BACKGROUND;
    font-family: $FONT_FAMILY;
}

h1 {
    float:left;
    margin:0;
    padding: 0;
    background-image: url('$url_for('/static/mf2011logo.png')');
    background-repeat: no-repeat;
    width: 416px;
    display: block;
    height: 54px;
    text-indent: -9999px;
    border-top: $TOPGAP solid $DARKER_BACKGROUND;
}

.post, .pre {
    width: 50%;
    border-top: $TOPBORD solid $DARKER_BACKGROUND;
    border-bottom: 11px solid $DARKER_BACKGROUND;
    margin:0;
    padding: 0;
    height: 32px;
    background: $BAND_COLOR;
}

.post {
    width: 100%;
    font-weight: bold;
    color: $LIGHT_BACKGROUND;
    margin: 0;
    padding: 0;
}

.pre {
    width: $LEFT_INDENT;
    float: left;
}

hr {
    font-size: $LARGE_FONT_SIZE;
    margin: $LARGE_FONT_SIZE 0 0 0;
    padding: 0;
    border-top: 1px solid $BAND_COLOR;
    border-bottom: none;
    border-left: none;
    border-right: none;
    max-width: 20em;
    clear: both;
    text-align: left;
}

.dateetc {
    clear: both;
    margin: 0;
    padding: 0.25em 0 $NORMAL_FONT_SIZE 0;
    text-indent: $LEFT_INDENT_NUDGE;
    width: 100%;
$#    height: 20px;
    background: $fromtop_linear_gradient(DARKER_BACKGROUND, LIGHT_BACKGROUND);
    color: $MEDIUM_COLOR;
    font-size: $SMALL_FONT_SIZE;
}
h2 {
    clear: both;
    color: $HEADING_COLOR;
    font-size: $NORMAL_FONT_SIZE;
    font-weight: normal;
    font-style: italic;
    font-family: $FONT_FAMILY_ITALIC;
    margin: 0;
    padding: 0 0 $LARGE_FONT_SIZE 0;
}

h3 {
    font-size: $LARGE_FONT_SIZE;
    font-weight: normal;
    clear: both;
    color: $HEADING_COLOR;
    padding: 0;
    margin: $NORMAL_FONT_SIZE 0 0 0;
}

.contact {
    margin-top: 2em;
    font-size: $SMALL_FONT_SIZE;
    color: $MEDIUM_COLOR;
    padding-bottom: 2em;
}
.contact a {
    color: $MEDIUM_COLOR;
    font-weight: normal;
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}
.contact a:visited {
    color: $MEDIUM_COLOR;
}
.contact p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.nav {
    padding: 0 0 $NORMAL_FONT_SIZE 0;
    margin: 0;
}
.nav li {
    font-size: $SMALL_FONT_SIZE;
    padding: 2px 10px 2px 10px;
    border-radius: 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;x
    $radial_gradient(MEDIUM_COLOR, LIGHT_COLOR)
    color: #FFFFFF;
    font-weight: normal;
    list-style: none;
    margin: 0 10px 0.5em 0;
    float: left;
}
.nav li:hover {
    background: $radial_gradient(H_MEDIUM_COLOR, H_LIGHT_COLOR);
    cursor: pointer;
}
.nav li a {
    color: #FFFFFF;
    text-decoration: none;
}
.nav li a:hover {
    text-decoration: none;
}
.nav li a:visited {
    color: #FFFFFF;
}

#main {
    padding: 0;
    margin-left: $LEFT_INDENT_NUDGE;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 80%;
    max-width: 40em;
    color: black;
    font-size: $NORMAL_FONT_SIZE;
}

a {
    color: #6E79AE;
    text-decoration: none;
}
a:visited {
    color: #6E79AE;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table {
    border-spacing: 0;
    margin-top: 1em;
}

.register td {
    padding-right: 1em;
}
.register td.value {
    font-style: italic;
    font-family: $FONT_FAMILY_ITALIC;
}

.btw {
    font-size: $SMALL_FONT_SIZE;
    font-weight: normal;
    font-style: italic;
    font-family: $FONT_FAMILY_ITALIC;
}

.parking {
    display: block;
    background-image: url('$url_for('/static/parking.gif')');
    width: 440px;
    height: 260px;
    text-indent: -9999px;
}

h4 {
    font-size: $NORMAL_FONT_SIZE;
    color: $HEADING_COLOR;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $$Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $$
 */

#basic-modal-content {
    display:none;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
    cursor: wait;
}

/* Container */
#simplemodal-container {
    height: 200px;
    width:600px;
    color:#FFFFFF;
    background-color: $BAND_COLOR;
    border:4px solid $DARKER_BACKGROUND;
    padding:12px;
}
#simplemodal-container .simplemodal-data {
    padding:8px;
}
#simplemodal-container code {
    background:#141414;
    border-left:3px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:12px;
    margin-bottom:12px;
    padding:4px 6px 6px;
}
#simplemodal-container a {
    color:#ddd;
}
$##simplemodal-container a.modalCloseImg {
$#    background:url('$url_for('/static/x.png')') no-repeat;
$#    background: black; 
$#    width:10px;
$#    height:10px;
$#    display:inline;
$#    z-index:3200;
$#    position:absolute;
$#    top:-25px;
$#    right:-16px;
$#    cursor:pointer;
$#    font-size: 25px;
$#    color: #FFFFFF;
$#    text-align: center;
$#    vertical-align: middle;
$#}
.simplemodal-close {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.simplemodal-close:hover {
    text-decoration: underline;
}
#simplemodal-container h3 {
    color:#84b8d9;
}

.error {
    font-weight: bold;
    color: red;
}

ul p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}
ul.hotels li p + p {
    font-family: $FONT_FAMILY_ITALIC;
    font-style: italic;
    font-size: small;
}

.loader {
    width: 16px;
    height: 16px;
    background-image: url('$url_for('/static/ajax-loader.gif')');
    margin-top: $NORMAL_FONT_SIZE;
}

table.schedule td {
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}
table.schedule tr:last-child td {
    padding-bottom: 0;
}
table.schedule th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
    padding-top: 1.0em;
    padding-bottom: 1em;
    color: $HEADING_COLOR;
}
table.schedule tr:first-child th {
    padding-top: 0;
}
table.schedule td:first-child {
    text-align: right;
}
table.schedule td[colspan="2"] {
    font-size: $SMALL_FONT_SIZE;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: $NORMAL_FONT_SIZE;
    color: $HEADING_COLOR;
}
table.schedule td.info {
    max-width: 25em;
    padding-left: $NORMAL_FONT_SIZE;
    padding-right: $NORMAL_FONT_SIZE;    
}