<h3>Register</h3>

<form name="MayFestRegistration" action="$url_for('/register')" method="post" onsubmit="return verifyRegistration()" class="registration">
<table>
<tr>
<td>Full name</td><td><input type="text" name="name" size="60"></td>
</tr>
<tr>
<td>Affiliation</td><td><input type="text" name="aff" size="60"></td>
</tr>
<tr>
<td>Email address</td><td><input type="text" name="email" size="60"></td>
</tr>
</table>
<table style="margin-top: 1em;">
<tr>
<td><input type="checkbox" id="friday" name="friday" checked></td>
<td><label for="saturday">I will be attending the sessions on <b>Friday 5/6</b></label></td>
</tr>
<tr>
<td><input type="checkbox" id="saturday" name="saturday" checked></td>
<td><label for="saturday">I will be attending the sessions on <b>Saturday 5/7</b></label></td>
</tr>
<tr>
<td><input type="checkbox" id="reception" name="reception" checked></td>
<td><label for="reception">I will be attending the Mayfest dinner/party on Friday evening (5:30pm)</label></td>
</tr>
<tr>
<td><input type="checkbox" id="crash" name="crash"></td>
<td><label for="crash">I would like crash space</label></td>
</tr>
<tr><td class="btw" style="padding-top: 1em;" colspan="2">
(We will attempt to honor all requests for crash space.  If you need crash space, please specify which nights you will be staying over in the comments section below.)
</td></tr>
</table>
<p>
Comments and additional information:
</p>
<textarea name="comments" cols=60 rows=8></textarea>
<p>
<input type="submit" name="submit" value="Register me"> 
</p>
</form>
